/*Aplico la misma fuente a todos los elementos y también box-sizing para que mis cajas estén parejas. Además ordene ls propiedas de cada regla CSS en orden alfábetico para facilitar su búsqueda*/
* {
  box-sizing: border-box;
  font-family: 'Rokkitt', serif;
}

section {
  height: 250px;
  margin: 30px 10px 50px 10px;
  /*outline: 1px solid green;*/ /*Utilizando outline para ver la ubicación y el comportamiento(de bloque o en línea) de mi caja*/
  /*overflow: auto;*/
}


div {
  /*float: left;*/
  display: inline-block;
  height: 210px;
  margin-right: 50px;
  /*outline: 1px solid orange;*/
  position: relative;
  top: 7%;
  width: 210px;
}

p {
  color: #fff;
  left: 60px;
  position: absolute;
  /*outline: 1px solid blue;*/
  text-align: center;
  top: 164px;
  width: 160px;
}

img {
  height: 210px;
  width: 210px;
}

header h1 {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 30px;
}

header hr {
  border: 3px solid black;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  right: 897px;
  width: 90px;
}
